package ${package}.service;

import ${package}.model.${className};
import ${package}.dao.${className}Mapper;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class ${className}Service {

    @Autowired
    private ${className}Mapper ${classname}Mapper;

    /**
     * @Author tianjianqin
     * @Description TODO 
     * @Date  2018/8/23 10:16
     * @Param [map]
     * @return List<${className}>
     **/
    public List<${className}> queryList(Map<String, Object> map){
        return ${classname}Mapper.queryList(map);
    }
    
    /**
     * @Author tianjianqin
     * @Description TODO 
     * @Date  2018/8/23 10:16
     * @Param [map]
     * @return int
     **/
    public int queryTotal(Map<String, Object> map){
        return ${classname}Mapper.queryTotal(map);
    }

    /**
     * @Author tianjianqin
     * @Description TODO 
     * @Date  2018/8/23 10:26
     * @Param []
     * @return int
     **/
    public int save(${className} ${classname}){
        return ${classname}Mapper.save(${classname});
    }

    /**
     * @Author tianjianqin
     * @Description TODO 
     * @Date  2018/8/23 10:26
     * @Param []
     * @return int
     **/
    public int update(${className} ${classname}){
        return ${classname}Mapper.update(${classname});
    }


	#*${className} queryObject(${pk.attrType} ${pk.attrname});

	List<${className}> queryList(Map<String, Object> map);

	int queryTotal(Map<String, Object> map);

	void save(${className} ${classname});

	void update(${className} ${classname});

	void delete(${pk.attrType} ${pk.attrname});

	void deleteBatch(${pk.attrType}[] ${pk.attrname}s);*#
}
